
#header
{ /*background: #1D1D1D url(header.png) repeat;*/
  background: #1D1D1D;
  height: 240px;}

  #footer
{ width: 900px;
  height: auto;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  background: #14a928;
  text-align: center;
}

#footer .panel1 div{width:33%;float:left;border:none #ccc solid;}
#footer .panel2{width:80%;margin:center;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}
  @media screen and (max-width: 800px) {
    .s-footer {
        padding-bottom: var(--vspace-1_5);
    }
    .ss-go-top {
        bottom: 5.2rem;
    }
    .ss-go-top a {
        height: 5.6rem;
        width: 5.6rem;
    }
}

@media screen and (max-width: 600px) {
    .s-footer__bottom {
        padding-bottom: .8rem;
    }
    .ss-copyright span {
        display: block;
    }
    .ss-copyright span::after {
        display: none;
    }
    .ss-go-top {
        right: 3.2rem;
    }
}
