{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <!-- JAVASCRIPT-->
  <script>
    function confirmar()
    {
    return confirm("Este formulario solo es para mayores de edad.¿Lo cumple?")
    }
    var timed =0
    var scrollGo = false
    var delay = 100
    var space = 100
    function scroll_start()
    {
      var i=0
      msg= "Este es el mensaje mostrado en la barra de estado"
      for(i=0; i<space;i++)
      msg=" "+msg
      scrollGo = true
      timerid= window.setTimeout("scrollmsg(0)", delay)
    }
    function scrollmsg(pos)
    {
      var out = ""
      scrollGo = false
      if(pos < msg.length)
        self.status = msg.substring(pos, msg.length)
      else
        pos=-1
      ++pos

      scrollGo=true
      timerid = window.setTimeout("scrollmsg("+pos+")", delay)      
    }
  </script>

    <title>
        {% block title %} {% endblock %}
    </title>
    <link href="{% static 'style.css' %}" rel="stylesheet">

</head>
<body onload="scroll_start()">
    <!-- Plantilla simple html -->
    <div id="main">
        <div id="header">
          <div id="logo">
            <div id="logo_text">
              <!-- class="logo_colour", allows you to change the colour of the text -->
              <h1><a href="/">Artistas<span class="logo_colour"> Musicales</span></a></h1>
            </div>
          </div>
          <div id="menubar">
            <ul id="menu">
              <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
              <li><a href="/">Generos</a></li>
              <li><a href="/lista_artistas">Artistas</a></li>
              <li><a href="/lista_discos">Discos</a></li>
              <li><a href="/formulario" onclick="return confirmar()">Formulario</a></li>
            </ul>
          </div>
        </div>
        <div id="site_content">
          <div id="content">
            <!-- insert the page content here -->
            {% block content %} {% endblock %}
          </div>
        </div>
        <div id="footer">
          <p>FOOTER</p>
          <!--JS-->
          <input type="button" value="Atrás" onclick="history.go(-1)">
        </div>
      </div>
</body>
</html>
