{% extends "base.html" %}
{% load static %}
{% block title %} Artistas {% endblock %}

{% block content %} 

{% if disco %}

    <h1>DISCO SELECCIONADO</h1>
    <h2>{{disco.nomDisco}}</h2>
    <p>{{disco.lanzamiento}}</p>
   
    {% if lista_artistas %}
        <h1>AAAAAAAAAAAAA</h1>
        {% for a in lista_artistas %}
           {% if a.disco == disco.nomDisco %}
            <p>{{a.nombre}}</p>
           {% else %}
            <p>no hay artistas en este disco</p>
           {% endif %}
        {% endfor %}
    {% else %}
        <p>No hay artistas creados.</p>
    {% endif %}


{% else %}
    <p>No se ha podido mostrar la información</p>
{% endif %}

{% endblock %}