{% load static %}

<!DOCTYPE html>

<html lang="">
<head>
<title>Chillaid</title>

<link href="{% static 'layout.css' %}" rel="stylesheet">

</head>
<body id="top">
  <h1>HOLA H1</h1>
  <p>HOLA MUNDO</p>
  <ul>
    <!-- <li><a href="artista/{{artista.artista_id}}">{{artista.artista}}</a></li> -->
    <!-- <li><a href="grupos/{{grupo.grupo_id}}">{{grupo.grupo}}</a></li> -->
    <li><a href="lista_artistas">Lista Artistas</a></li>
    <li><a href="lista_grupos">Lista grupos</a></li>
    <li><a href="lista_discos">Lista discos</a></li>
  </ul>
</body>
</html>